body {
  background-color: #eef8db;
  font-family: sans-serif;
  margin: 0;
  color: white;
}

h1 {
  color: rebeccapurple;
  font-size: 3rem;
  text-align: center;
  margin: 20px 0;
}

/* The Grid Layout */
.playground {
  display: grid;
  grid-template-columns: 250px 1fr; /* Sidebar is 250px, Action Zone takes the rest */
  gap: 20px;
  margin: 0 50px;
  height: 85vh;
}

/* Sidebar for Stockpile */
.tile-stockpile {
  background-color: rgba(226, 200, 199, 0.2);
  border-radius: 15px;
  padding: 20px;
  overflow-y: auto; /* Scroll if too many tiles */
  border: 2px solid #d2e99f;
}

.tile-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

/* Individual Tile Styling */
.tile {
  width: 70px;
  height: 75px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.orange-tile {
  background-color: orange;
  color: #444;
}
.red-tile {
  background-color: #ff4d4d;
}
.blue-tile {
  background-color: #4d94ff;
}
.green-tile {
  background-color: #4caf50;
}
.smiley-tile {
  background-color: rgb(224, 21, 99);
  border: 1px solid rgb(255, 255, 255);
  color: gold;
}


.action-zone {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-board {
  flex-grow: 1;
  background-color: #d7dcc9;
  border: 10px solid #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-rack {
  height: 200px;
  background-color: #e3ff44;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 5px solid #261b18;
}

.buttons{

background-color:rgba(160, 208, 239, 0.912);
margin-left: 100px;
font-size: xx-large;
border-radius: 10%;

}
