body {
  background-color: #eef8db;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  color: rgb(135, 38, 38);
}

h1 {
  color: rebeccapurple;
  font-size: 3rem;
  text-align: center;
  margin: 20px 0;
}

/* The Grid Layout */
.playground {
  display: grid;
  grid-template-columns: 250px 1fr; /* Sidebar is 250px, Action Zone takes the rest */
  background-color: #a0b155;
  gap: 20px;
  margin: 0 50px;
  height: 85vh;
}

/* Sidebar for Stockpile */
.tile-stockpile {
  background-color: rgba(226, 200, 199, 0.2);
  border-radius: 15px;
  padding: 20px;
  overflow-y: auto; /* Scroll if too many tiles */
  border: 2px solid #d2e99f;
}

.tile-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

/* Individual Tile Styling (tiles of the stockPile) */
.tile {
  width: 70px;
  height: 75px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: grab;
}

.orange-tile {
  background-color: orange;
  color: #ffffff;
}
.red-tile {
  background-color: #ff4d4d;
}
.blue-tile {
  background-color: #4d94ff;
}
.green-tile {
  background-color: #4caf50;
}
.smiley-tile {
  background-color: rgb(224, 21, 99);
  border: 1px solid rgb(255, 255, 255);
  color: gold;
}

.action-zone {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-board {
  flex-grow: 1;
  background-color: #d7dcc9;
  border: 10px solid #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grabbing; /*put the thing you gapped*/
}

.player-rack {
  height: 200px;
  background-color: #e3ff44;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 5px solid #000000;
}

.buttons {
  background-color: rgba(160, 208, 239, 0.912);
  margin-left: 200px;
  font-size: 2rem;
  border-radius: 10%;
}

/* tiles of the players */
.p1-tiles,
.p2-tiles {
  margin-left: 50px;
  width: 70px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 10%;
  cursor: grab;
}

#start {
  display: flex;
  width: 400px;
  height: 200px;
  margin-inline-start: 980px;
  margin-top: 200px;
  justify-content: center;
  font-size: xx-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 30px;
  background-color: #d2e99f;
}

#htm2-body {
  background-color: #715fa0;
}

#cover-title {
  display: flex;
  color: #d2eb42;
  justify-content: center;
  font-size: 200px;
  margin-top: 400px;
}

.buttons{
  display: flex;
  width: 500px;
  justify-content: center;
  margin:50px;
  font-size: xx-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 30px;
  background-color: #d2e99f;
  cursor: pointer;
  gap: 50px;
}



.innerGrid{

display: grid;
width: 40px;
height: 0px;
background-color: #4d94ff;
grid-template-columns: 50;


}

#turn-head{
justify-content: center;
  margin:50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 40px;
  background-color: #d2e99f;
  cursor: pointer;
  border-color: #000000;
  margin-bottom: -30px;
}
